In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv(r"C:\Users\Vikas\jupyter book\ex_files\Bengaluru_House_Data.csv")

In [3]:
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [5]:
for i in df.columns:
    print(df[i].value_counts())
    print("*"*14)

area_type
Super built-up  Area    8790
Built-up  Area          2418
Plot  Area              2025
Carpet  Area              87
Name: count, dtype: int64
**************
availability
Ready To Move    10581
18-Dec             307
18-May             295
18-Apr             271
18-Aug             200
                 ...
15-Aug               1
17-Jan               1
16-Nov               1
16-Jan               1
14-Jul               1
Name: count, Length: 81, dtype: int64
**************
location
Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: count, Length: 1305, dtype: int64
**************
size
2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: count, dtype: int64
**************
society
GrrvaGr    80
PrarePa    76
Sryalan    59
Prtates    59
GMown E    56
           ..
Amionce     1
JaghtDe     1
Jauraht     1
Brity U     1
RSntsAp     1
Name: count, Length: 2688, dtype: int64
**************
total_sqft
1200    843
1100    221
1500    205
2400    196
600     180
       ...
3580      1
2461      1
1437      1
2155      1
4689      1
Name: count, Length: 2117, dtype: int64
**************
bath
2.0     6908
3.0     3286
4.0     1226
1.0      788
5.0      524
6.0      273
7.0      102
8.0       64
9.0       43
10.0      13
12.0       7
13.0       3
11.0       3
16.0       2
27.0       1
40.0       1
15.0       1
14.0       1
18.0       1
Name: count, dtype: int64
**************
balcony
2.0    5113
1.0    4897
3.0    1672
0.0    1029
Name: count, dtype: int64
**************
price
75.00     310
65.00     302
55.00     275
60.00     270
45.00     240
         ...
351.00      1
54.10       1
80.64       1
32.73       1
488.00      1
Name: count, Length: 1994, dtype: int64
**************

In [6]:
df.isna().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [7]:
df.drop(columns=["availability","area_type","society","balcony"],axis=1,inplace=True)

In [8]:
# for i in k:
#     df=df.drop(axis=1,inplace=True)

In [9]:
df.isna().sum()

location       1
size          16
total_sqft     0
bath          73
price          0
dtype: int64

In [10]:
df.describe()

               bath         price
count  13247.000000  13320.000000
mean       2.692610    112.565627
std        1.341458    148.971674
min        1.000000      8.000000
25%        2.000000     50.000000
50%        2.000000     72.000000
75%        3.000000    120.000000
max       40.000000   3600.000000

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13319 non-null  object
 1   size        13304 non-null  object
 2   total_sqft  13320 non-null  object
 3   bath        13247 non-null  float64
 4   price       13320 non-null  float64
dtypes: float64(2), object(3)
memory usage: 520.4+ KB

In [12]:
for i in df.columns:
    if df[i].dtypes=="object":
        df[i]=df[i].fillna(df[i].mode()[0])
    else:
        df[i]=df[i].fillna(df[i].mean())

In [13]:
df.isna().sum()

location      0
size          0
total_sqft    0
bath          0
price         0
dtype: int64

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13320 non-null  object
 1   size        13320 non-null  object
 2   total_sqft  13320 non-null  object
 3   bath        13320 non-null  float64
 4   price       13320 non-null  float64
dtypes: float64(2), object(3)
memory usage: 520.4+ KB

In [15]:
df["bhk"]=df["size"].str.split().str.get(0).astype(int)
#  str.split() it split the

In [16]:
df[df.bhk>20]

                       location        size total_sqft  bath  price  bhk
1718  2Electronic City Phase II      27 BHK       8000  27.0  230.0   27
4684                Munnekollal  43 Bedroom       2400  40.0  660.0   43

In [17]:
df.total_sqft.unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [18]:
def cr(x):
    temp=x.split('_')
    if len(temp)==2:
        return (float(temp[0])+(float(temp[1])))/2
    try:
        return float(x)
    except:
        return None

In [19]:
df["total_sqft"]=df["total_sqft"].apply(cr)

In [20]:
df.head()

                   location       size  total_sqft  bath   price  bhk
0  Electronic City Phase II      2 BHK      1056.0   2.0   39.07    2
1          Chikka Tirupathi  4 Bedroom      2600.0   5.0  120.00    4
2               Uttarahalli      3 BHK      1440.0   2.0   62.00    3
3        Lingadheeranahalli      3 BHK      1521.0   3.0   95.00    3
4                  Kothanur      2 BHK      1200.0   2.0   51.00    2

#### find per_square_fit_area

In [21]:
df["per_square_fit_area"]=df["price"]*100000/df["total_sqft"]

In [22]:
df.describe()

,total_sqft,bath,price,bhk,per_square_fit_area
count,13073.000000,13320.000000,13320.000000,13320.000000,1.307300e+04
mean,1554.942029,2.692610,112.565627,2.802778,7.949600e+03
std,1238.458773,1.337777,148.971674,1.294496,1.072440e+05
min,1.000000,1.000000,8.000000,1.000000,2.678298e+02
25%,1100.000000,2.000000,50.000000,2.000000,4.265734e+03
50%,1275.000000,2.000000,72.000000,3.000000,5.454545e+03
75%,1670.000000,3.000000,120.000000,3.000000,7.338057e+03
max,52272.000000,40.000000,3600.000000,43.000000,1.200000e+07

In [23]:
df["per_square_fit_area"]

0         3699.810606
1         4615.384615
2         4305.555556
3         6245.890861
4         4250.000000
             ...
13315     6689.834926
13316    11111.111111
13317     5258.545136
13318    10407.336319
13319     3090.909091
Name: per_square_fit_area, Length: 13320, dtype: float64

In [24]:
df.location.value_counts()

location
Whitefield                        541
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: count, Length: 1305, dtype: int64

In [25]:
df["location"]=df["location"].apply(lambda x: x.strip())
location_count=df["location"].value_counts()

#### strip : use to remove spaces, tabs, and newline characters

In [26]:
location_count

location
Whitefield                        542
Sarjapur  Road                    399
Electronic City                   304
Kanakpura Road                    273
Thanisandra                       237
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: count, Length: 1294, dtype: int64

In [27]:
location_count_less_10=location_count[location_count<=10]
location_count_less_10.count()

1053

In [28]:
df["location"]=df["location"].apply(lambda x: "other" if x in location_count_less_10 else x )

In [29]:
df.location.value_counts()

location
other                 2885
Whitefield             542
Sarjapur  Road         399
Electronic City        304
Kanakpura Road         273
                      ...
Nehru Nagar             11
Banjara Layout          11
LB Shastri Nagar        11
Pattandur Agrahara      11
Narayanapura            11
Name: count, Length: 242, dtype: int64

##### outlier detection and correction

In [30]:
df.describe()

,total_sqft,bath,price,bhk,per_square_fit_area
count,13073.000000,13320.000000,13320.000000,13320.000000,1.307300e+04
mean,1554.942029,2.692610,112.565627,2.802778,7.949600e+03
std,1238.458773,1.337777,148.971674,1.294496,1.072440e+05
min,1.000000,1.000000,8.000000,1.000000,2.678298e+02
25%,1100.000000,2.000000,50.000000,2.000000,4.265734e+03
50%,1275.000000,2.000000,72.000000,3.000000,5.454545e+03
75%,1670.000000,3.000000,120.000000,3.000000,7.338057e+03
max,52272.000000,40.000000,3600.000000,43.000000,1.200000e+07

In [31]:
(df.total_sqft/df.bhk).describe()

count    13073.000000
mean       573.254923
std        389.887823
min          0.250000
25%        472.000000
50%        551.000000
75%        625.000000
max      26136.000000
dtype: float64

In [32]:
df=df[(df.total_sqft/df.bhk)>=300]

In [33]:
df.describe()

,total_sqft,bath,price,bhk,per_square_fit_area
count,12329.000000,12329.000000,12329.000000,12329.000000,12329.000000
mean,1590.166773,2.562339,111.444236,2.651472,6322.476758
std,1261.827604,1.072370,152.759322,0.973754,4187.479096
min,300.000000,1.000000,8.440000,1.000000,267.829813
25%,1118.000000,2.000000,49.340000,2.000000,4207.119741
50%,1300.000000,2.000000,70.000000,3.000000,5300.000000
75%,1700.000000,3.000000,115.000000,3.000000,6938.483548
max,52272.000000,16.000000,3600.000000,16.000000,176470.588235

In [34]:
df.per_square_fit_area.describe()

count     12329.000000
mean       6322.476758
std        4187.479096
min         267.829813
25%        4207.119741
50%        5300.000000
75%        6938.483548
max      176470.588235
Name: per_square_fit_area, dtype: float64

In [35]:
def rm_outlier_sqrt(df):
    df_output=pd.DataFrame()
    for key ,subdf in df.groupby("location"):
        m=np.mean(subdf.per_square_fit_area)
        std=np.std(subdf.per_square_fit_area)
        gen_df =subdf[(subdf.per_square_fit_area < (m-std)) & (subdf.per_square_fit_area<=(m+std))]
        df_output=pd.concat([df_output,gen_df],ignore_index=True)
    return df_output
df=rm_outlier_sqrt(df)

In [36]:
df.describe()

         total_sqft        bath       price         bhk  per_square_fit_area
count    780.000000  780.000000  780.000000  780.000000           780.000000
mean    1757.416628    2.394577   57.806974    2.566667          3830.955119
std     3281.354826    1.086431   41.612734    1.093529          1346.317325
min      340.000000    1.000000    8.440000    1.000000           267.829813
25%     1082.750000    2.000000   36.560000    2.000000          3176.861072
50%     1208.500000    2.000000   45.000000    2.000000          3587.246777
75%     1500.000000    2.769457   63.000000    3.000000          4079.656863
max    52272.000000   10.000000  450.000000   10.000000         12527.472527

In [37]:
def bhk_outlier_rm(df):
    exclude_indec=np.array([])
    for location,location_df in df.groupby("location"):
        bhk_status={}
        for bhk ,bhk_df in location_df.groupby("bhk"):
            bhk_status[bhk]={
                "mean":np.mean(bhk_df.per_square_fit_area),
                "std":np.std(bhk_df.per_square_fit_area),
                "count":np.count(bhk_df.per_square_fit_area)
            }
        for bhk ,bhk_df in location_df.groupby("bhk"):
            status=bhk_status.get(bhk-1)
            if status and ststus["count"]>5:
                exclude_indec=np.append(exclude_indec,bhk_df[bhk_df.per_square_fit_area<(status["mean"])].index.values)
    
    return df.drop(exclude_indec,axis="index")

In [38]:
df.columns

Index(['location', 'size', 'total_sqft', 'bath', 'price', 'bhk',
       'per_square_fit_area'],
      dtype='object')

In [39]:
df.shape

(780, 7)

In [40]:
df.drop(columns=['size','per_square_fit_area'],axis=1,inplace=True)

In [41]:
df.head()

               location  total_sqft  bath  price  bhk
0   1st Block Jayanagar      1000.0   3.0   60.0    2
1   1st Block Jayanagar      1760.0   3.0  115.0    3
2  2nd Stage Nagarbhavi      3000.0   3.0  170.0    4
3  2nd Stage Nagarbhavi      4000.0   4.0  240.0    5
4    5th Phase JP Nagar      1070.0   2.0   39.0    2

In [203]:
df.to_csv("Clean_data.csv")

In [107]:
X=df.drop(columns=["price"])
y=df["price"]

#### model buliding

In [86]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression ,Lasso ,Ridge
from sklearn.preprocessing import OneHotEncoder, StandardScaler,LabelEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import *

In [170]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2 ,random_state=15)

In [171]:
print(X_train.shape)

(624, 4)

In [172]:
X_test.shape

(156, 4)

In [173]:
print(y_test.shape)

(156,)

In [174]:
X_train.shape

(624, 4)

In [175]:
y_train.shape

(624,)

In [176]:
# applying LinearRegression

In [177]:
column_trans=make_column_transformer((OneHotEncoder(sparse=False,handle_unknown='ignore'),["location"]),
                                     remainder="passthrough")

In [178]:
df

                 location  total_sqft  bath  price  bhk
0     1st Block Jayanagar      1000.0   3.0   60.0    2
1     1st Block Jayanagar      1760.0   3.0  115.0    3
2    2nd Stage Nagarbhavi      3000.0   3.0  170.0    4
3    2nd Stage Nagarbhavi      4000.0   4.0  240.0    5
4      5th Phase JP Nagar      1070.0   2.0   39.0    2
..                    ...         ...   ...    ...  ...
775                 other     10961.0   4.0   80.0    4
776                 other     52272.0   2.0  140.0    3
777                 other     42000.0   8.0  175.0    9
778                 other     10961.0   4.0   80.0    4
779                 other     16335.0   4.0  149.0    4

[780 rows x 5 columns]

In [179]:
scalar=StandardScaler()

In [180]:
lr=LinearRegression()

In [181]:
pipe=make_pipeline(column_trans,scalar,lr)

In [182]:
pipe.fit(X_train,y_train)

C:\Users\Vikas\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(handle_unknown='ignore',
                                                                sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()),
                ('linearregression', LinearRegression())])

In [ ]:
ypr_lr=pipe.predict(X_test)

In [183]:
ypr_lr

array([2.99659726e+01, 4.30206601e+01, 4.28878476e+01, 3.82784726e+01,
       5.54894101e+01, 4.77628476e+01, 2.36222226e+01, 5.73878476e+01,
       3.82081601e+01, 5.84190976e+01, 2.65597226e+01, 3.70050351e+01,
       6.04972226e+01, 1.09659726e+01, 5.26847226e+01, 9.99377639e+13,
       3.22784726e+01, 3.52472226e+01, 4.38565976e+01, 1.36161285e+02,
       3.68409726e+01, 3.67472226e+01, 4.32628476e+01, 1.51161285e+02,
       4.43487851e+01, 4.67315976e+01, 3.65597226e+01, 6.51534726e+01,
       3.73253476e+01, 3.24034726e+01, 5.67862851e+01, 9.44034726e+01,
       4.31769101e+01, 4.37628476e+01, 3.99034726e+01, 4.17081601e+01,
       5.80909726e+01, 4.51378476e+01, 5.67940976e+01, 4.07784726e+01,
       5.01144101e+01, 4.46300351e+01, 6.84347226e+01, 3.65128476e+01,
       9.99377639e+13, 1.43762848e+02, 6.01925351e+01, 5.24347226e+01,
       5.67159726e+01, 4.22940976e+01, 9.99377639e+13, 9.73019101e+01,
       5.60128476e+01, 1.88565976e+01, 4.31534726e+01, 9.99377639e+13,
       5.58253476e+01, 2.12215973e+02, 9.99377639e+13, 5.24347226e+01,
       4.20284726e+01, 2.53175351e+01, 5.24347226e+01, 4.44659726e+01,
       4.32784726e+01, 6.18019101e+01, 8.90284726e+01, 1.40122223e+02,
       3.95284726e+01, 6.31378476e+01, 3.00362851e+01, 3.05128476e+01,
       1.09294098e+02, 3.74034726e+01, 5.16144101e+01, 5.43175351e+01,
       3.76534726e+01, 3.12315976e+01, 4.21065976e+01, 1.43934723e+02,
       1.20731598e+02, 1.25362851e+01, 9.99377639e+13, 1.68409726e+01,
       2.88800351e+01, 3.14347226e+01, 9.99377639e+13, 5.31847226e+01,
       5.36690976e+01, 3.93097226e+01, 5.20519101e+01, 9.99377639e+13,
       3.08487851e+01, 1.20348785e+02, 4.98487851e+01, 3.28097226e+01,
       8.68019101e+01, 5.73956601e+01, 5.33878476e+01, 1.05965973e+02,
       2.65987851e+01, 9.99377639e+13, 7.24815976e+01, 2.92003476e+01,
       3.93097226e+01, 4.99503476e+01, 4.90519101e+01, 3.12862851e+01,
       4.23019101e+01, 3.50909726e+01, 4.72550351e+01, 4.20050351e+01,
       4.16612851e+01, 3.23409726e+01, 7.06144101e+01, 3.95831601e+01,
       3.23956601e+01, 5.94269101e+01, 9.99377639e+13, 2.92940976e+01,
       9.99377639e+13, 7.49034726e+01, 4.55440976e+01, 5.17940976e+01,
       4.69737851e+01, 4.24269101e+01, 4.44659726e+01, 7.31065976e+01,
       3.44972226e+01, 3.70284726e+01, 6.49815976e+01, 5.66690976e+01,
       5.13253476e+01, 3.61300351e+01, 5.30128476e+01, 1.61300351e+01,
       8.62081601e+01, 1.48450348e+02, 1.20809723e+02, 3.29034726e+01,
       9.99377639e+13, 3.45753476e+01, 3.12628476e+01, 4.12159726e+01,
       9.99377639e+13, 2.67286285e+02, 4.32159726e+01, 3.63097226e+01,
       3.56847226e+01, 4.64347226e+01, 8.65909726e+01, 4.96847226e+01,
       3.81378476e+01, 3.02081601e+01, 3.14347226e+01, 4.97159726e+01])

In [188]:
r2_score(y_test,ypr_lr)

-3.9452716462726574e+23

##### appling Lasso

In [194]:
lasso=Lasso()
pipe=make_pipeline(column_trans,scalar,lasso)
pipe.fit(X_train,y_train)

C:\Users\Vikas\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(handle_unknown='ignore',
                                                                sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()), ('lasso', Lasso())])

In [195]:
yp_l=pipe.predict(X_test)

In [196]:
r2_score(y_test,yp_l)

0.4575496028651289

##### applingRidge

In [190]:
r=Ridge()

In [197]:
pipe=make_pipeline(column_trans,scalar,r)

In [198]:
pipe.fit(X_train,y_train)

C:\Users\Vikas\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(handle_unknown='ignore',
                                                                sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()), ('ridge', Ridge())])

In [199]:
yp_r=pipe.predict(X_test)

In [200]:
r2_score(yp_r,y_test)

0.3071703808294335

In [201]:
print("No Regularization:",r2_score(y_test,ypr_lr))
print("Lasso :" ,r2_score(y_test,yp_l))
print("ridge :",r2_score(y_test,yp_r))

No Regularization: -3.9452716462726574e+23
Lasso : 0.4575496028651289
ridge : 0.4765549119619371

In [204]:
import pickle

In [206]:
pickle.dump(pipe,open("home.pkl","wb"))